@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-outfit: var(--font-outfit);
}

@layer base {
  :root {
    --background: #050505;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom Utilities for HUD effects */
@layer utilities {
  .hud-corner {
    @apply absolute w-4 h-4 border-cyan-400 transition-colors duration-300;
  }
}
